<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{% block metatitle %}{% endblock %}">
    <meta name="description" content="{% block metadescription %}{% endblock metadescription %}">
    <meta name="keywords" content="{% block metakeywords %}{% endblock metakeywords %}">
    <meta property="og:image" content="" id="ogImage" />
    <script>
        // Get the current URL using window.location
        var currentUrl = window.location.href;

        // Update the content of the og:image meta tag
        var ogImageTag = document.getElementById('ogImage');
        ogImageTag.content = "https://image.thum.io/get/maxAge/12/width/700/" + encodeURIComponent(currentUrl);
    </script>

    <!-- Google site verification -->
    <meta name="google-site-verification" content="your_verification_code">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyjUFNgSXUCl+cUFEKHlbiInaUlaKUJJ38WSB1SvhlVceCACi5vBqGJSvXXqOImBr7dzXcCPQGorHylurEr/Mw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="<KEY>" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/styles.css">

    <title>{% block title %}{% endblock %} HANIME BEAST</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Hanime Beast</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/trending/month/0">Trending</a></li>
                        <li class="nav-item"><a href="/browse" class="nav-link">Browse</a></li>
                        <li class="nav-item"><a href="/api" class="nav-link">API</a></li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Floating buttons -->
    <div class="floating-buttons">
        <a href="/trending/month/0" class="floating-button"><i class="fas fa-arrow-up"></i></a>
        <a href="/browse" class="floating-button"><i class="fas fa-folder-open"></i></a>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white py-3 mt-5">
        Made with <span class="text-danger">&hearts;</span> by <a href="https://github.com/your_github_username" class="text-white" target="_blank">Your Name</a> &copy; <script>document.write(new Date().getFullYear())</script>
    </footer>
</body>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>
