{% extends "base.html" %}
{% block metatitle %}Hanime API{% endblock metatitle %}
{% block metadescription %}Enjoy unlimited hentai and anime content{% endblock metadescription %}
{% block metakeywords %}hentai, hentai api, anime api {% endblock metakeywords %}
{% block title %}HanimeBeast{% endblock %}
{% block content %}

<style>
    .card {
        max-width: 100%;
        overflow: hidden;
    }

    .card-body {
        position: relative;
        padding: 0;
    }

    video {
        width: 100%;
        height: auto;
    }
</style>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <video id="live" autoplay controls>
                <source src="{{ link }}" type="video/mp4">
            </video>
        </div>
    </div>
</div>

{% endblock %}
